/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }


/* Header */
  header ul {
      display: flex;
      justify-content: space-between;
  }

  ul li {
      list-style: none;
      display: inline;
      padding: 5px;
  }

  li {
      font-size:15px;
      color: #0159B5ff;
  }

/* Content box */
    .container {
        display: block;
        margin: 60px auto;
        text-align: center;
        font-size: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40vw;
        background-color: #F4F4F8;
        padding: 20px;
    }

    /* Questions */
    .contentHeader {
        padding: 10px;
    }

    /* Results */
    .result {
        font-size: 15px;
        font-style: italic;
        padding: 10px;
    }

/* Buttons */
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0159B5ff;
    color: white;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}  

.button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0159B5ff;
    color: white;
    text-decoration: none;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
} 

/* Style the scoreboard */
.highscoreStyle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* Hide form until needed */
.hidden {
    display: none;
}

input {
    display: block;
    font-size: larger;
    width: 60px;
    text-align: center;
    margin: 10px;
}

#savesScore {
    margin: 5px;
}







